* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: sans-serif;
}

header {
  background-color: #fff;
  width: 100%;
  height: 17vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

header > div:nth-child(1) {
  /* border: 1px solid green; */
  width: 50%;
  height: 70%;
  display: flex;
  justify-content: right;
}

header > div:nth-child(2) {
  /* border: 1px solid green; */
  width: 50%;
  height: 70%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 50px;
}

.join-button {
  width: 160px;
  height: 50px;
  background-color: #f39821;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 700;
  border: none;
  padding: 20px 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

main {
  background-color: auto;
  width: 100%;
  height: 5000px;
  display: flex;
  flex-direction: column;
}

.wallpaper {
  background-color: #e4e4e4;
  height: 95vh;
  width: 100%;
  display: flex;
}

.wallpaper > div:nth-child(1) {
 
  width: 45%;
  height: inherit;
  padding: 122px 0px 80px 70px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.wallpaper > div:nth-child(2) {
  width: 55%;
  height: inherit;
}

.requirement {
  display: flex;
  width: 100%;
  height: 90vh;
  background-color: #fff;
}

.requirement > div:nth-child(1) {
  width: 40%;
  height: inherit;
}

.requirement > div:nth-child(2) {
  width: 60%;
  height: inherit;
}

.cert-time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid red;
  width: 100%;
  height: 93vh;
  background-color: #e4e4e4;
  padding: 150px 130px;
}

footer {
  background-color: #000;
  width: 100%;
  height: 61vh;
  display: flex;
  flex-direction: column;
  padding: 30px 120px 50px 120px;
}

footer > div:nth-child(1) {
  border: 1px solid gold;
  width: 100%;
  height: 15vh;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer > div:nth-child(1) div {
  border: 1px solid green;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
}

footer > div:nth-child(2) {
  border: 1px solid red;
  width: 100%;
  height: 100%;
}